{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'job_system_api/css/bootstrap.min.css' %}">
{% endblock %}

{% block object-tools-items %}
    {% for tool in object_tools %}
        <li>
            <a href="./{{ tool.location }}">
                {% if tool.icon != None %}<span class="glyphicon glyphicon-{{ tool.icon }}"></span>{% endif %} {{ tool.name }}
            </a>
        </li>
    {% endfor %}
    {{ block.super }}
{% endblock object-tools-items %}
