{% extends 'job_system_app/base.html' %}

{% block title %}Job List{% endblock title %}

{% block head_js_section %}
    <script>
        var refresh_interval_id = setInterval(function() {
            $.ajax({
                async: true,
                type: "GET",
                url: "/api/jobs?is_archived=false",
                contentType: "application/json"
            }).done(function( jobs ) {
                for (idx = 0; idx < jobs.length; ++idx) {
                    job = jobs[idx];
                    var job_row = $("tr#job_" + job['id'] + "_row");
                    var job_status_col = job_row.find("td:nth-child(5)");
                    if (job['status'] == 'in progress') {
                        var progress = $('<div>', {'class': 'progress'});
                        var progress_bar = $('<div>', {'class':'progress-bar', 'role':'progressbar', 'aria-valuemin':'0', 'aria-valuemax':'100', 'style':'width: '+job['progress']+'%'});
                        progress_bar.text(job['progress'] + '%');
                        progress.html(progress_bar.get(0).outerHTML);
                        //alert(JSON.stringify(progress, null, 4));
                        job_status_col.html(progress.get(0).outerHTML);
                    }
                    else {
                        job_status_col.html(job["status"]);
                    }
                }
            });
        }, 6000);
    </script>
    <script>
        function reload_job_details(job_id) {
            if (job_id === "") {
                return;
            }
            
            $.ajax({
                async: true,
                type: "GET",
                url: "/api/jobs/" + job_id,
                contentType: "application/json"
            }).done(function( job ) {
                var job_details_row = $("#job_" + job['id'] + "_details");
                job_details_row.empty();
                
                var job_parameters_fieldset = $('<fieldset>');

                var job_parameters_legend = $('<legend>', {'style': 'font-size: 14px; margin: 0px;'});
                job_parameters_legend.html('<b>Parameters:</b>');
                job_parameters_fieldset.append(job_parameters_legend);

                var parameter_table = $('<table>', {'width': '100%'});
                for (idx=0; idx<job['parameters'].length; ++idx) {
                    var parameter_row = $('<tr>');
                    parameter_row.append('<td style="width: 200px;">' + job['parameters'][idx].name + '</td>');
                    parameter_row.append('<td>' + job['parameters'][idx].value + '</td>');
                    parameter_table.append(parameter_row);
                }
                job_parameters_fieldset.append(parameter_table);

                job_details_row.append(job_parameters_fieldset);

                var job_log_entries_fieldset = $('<fieldset>');

                var job_log_entries_legend = $('<legend>', {'style': 'font-size: 14px; margin: 0px;'});
                job_log_entries_legend.html('<b>Log:</b>');
                job_log_entries_fieldset.append(job_log_entries_legend);

                logLevels = new Map();
                {% for id, name in log_levels %}
                    logLevels.set({{ id }}, "{{ name }}");
                {% endfor %}

                var log_entry_table = $('<table>', {'width': '100%'});
                for (idx=0; idx<job['log_entries'].length; ++idx) {
                   var log_entry_row = $('<tr>');
                   log_entry_row.append('<td style="width: 100px;">' + job['log_entries'][idx].date_created.substr(11, 8) + ' UTC' + '</td>');
                   log_entry_row.append('<td style="width: 100px;">' + '| ' + logLevels.get(job['log_entries'][idx].level) + ' |' + '</td>');
                   log_entry_row.append('<td>' + job['log_entries'][idx].message + '</td>');
                   log_entry_table.append(log_entry_row);
                }
                if (job['log_entries'].length == 0) {
                   var log_entry_row = $('<tr>');
                   log_entry_row.append('<td style="width: 200px;">-- empty --</td>');
                   log_entry_row.append('<td>&nbsp;</td>');
                   log_entry_table.append(log_entry_row);
                }
                job_log_entries_fieldset.append(log_entry_table);
                
                job_log_entries_fieldset.append('<br/>');

                job_details_row.append(job_log_entries_fieldset);
            });
        }
    </script>
{% endblock head_js_section %}

{% block content %}
    <h1>Job List</h1>
    {% if is_system_user %}
    <form class="text-right" action="" method="get">
        {% for field in filter.form %}
            {{ field.name|title }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Apply Filter">
    </form>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr style="background-color: black; color: white;">
                <th>Creation Date</th>
                <th>ID</th>
                <th>Owner</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if is_system_user %}
            <tr>
                <td width="80%" colspan=5>&nbsp;</td>
                <td width="20%">
                    <a href="register" class="btn btn-success btn-sm" role="button">
                        <span class="glyphicon glyphicon-plus"></span> Register New Job
                    </a>
                </td>
            </tr>
            {% endif %}
        {% for job in filter.qs %}
            <tr id="job_{{ job.id }}_row">
                <td>{{ job.date_created|date:'Y-m-d' }}</td>
                <td>{{ job.id }}</td>
                <td>{{ job.owner }}</td>
                <td>{{ job.name }}</td>
            {% if job.status == "unknown" %}
                <td style="color: red">{{ job.status }}</td>
            {% else %}
                <td>
                {% if job.status != "in progress" %}
                    {{ job.status }}
                {% else %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.progress }}%">
                            {{ job.progress }}%
                        </div>
                    </div>
                {% endif %}
                </td>
            {% endif %}
                <!--<td><button>Edit</button></td>-->
                <td>
                    <a href="#job_{{ job.id }}_details" data-toggle="collapse" class="btn btn-primary btn-sm" role="button" onclick="reload_job_details({{ job.id }});">
                        <span class="glyphicon glyphicon-info-sign"></span> Details
                    </a>
                </td>
                <!--
                <td>
                    <a href="./jobs/{{ job.id }}/update" class="btn btn-primary btn-sm" role="button">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    <a href="./jobs/{{ job.id }}/delete" class="btn btn-danger btn-sm" role="button">
                        <span class="glyphicon glyphicon-minus"></span> Delete
                    </a>
                </td>
                -->
            </tr>
            <tr><td colspan="6" style="padding: 0px;"/></tr>
            <tr id="job_{{ job.id }}_details_row">
                <td style="padding: 0px;" />
                <td colspan="5" style="padding: 0px;">
                    <div id="job_{{ job.id }}_details" class="collapse">
                        &nbsp;
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=6>No jobs found.</td>
            </tr>
        {% endfor %}
        </tbody>
    <table>
{% endblock content %}
