<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            {# user defined title... #}
        {% endblock title %} | Job System
    </title>
    {% block head_meta %}
        <meta charset="utf-8">
    {% endblock head_meta %}

    {% load static %}

    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
        {% endblock head_css_site %}
        {% block head_css_section%}
            {# user defined css code... #}
        {% endblock head_css_section %}
    {% endblock head_css %}
    {% block head_js %}
        {% block head_js_site %}
            <script src="{% static 'webapp/js/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
        {% endblock head_js_site %}
        {% block head_js_section%}
            {# user defined js code... #}
        {% endblock head_js_section %}
    {% endblock head_js %}
</head>
<body style="padding-bottom: 60px;">

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Minimal Job System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li>
                        <p class="navbar-text">Already have an account?</p>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row" style="margin: 0 auto;">
                                    <div class="col-md-12">
                                        <h3 class="form-signin-heading">Login</h3>
                                        <form class="form-signin" method="post" action="{% url 'login' %}" accept-charset="UTF-8">
                                            {% csrf_token %}
                                        {% if form.errors %}
                                            <div class="alert alert-danger" style="display: block; margin: 20px 0px;">
                                                Your username and password didn't match.<br/>
                                                Please try again.
                                            </div>
                                        {% endif %}
                                            <div class="form-group">
                                                <label for="id_username" class="sr-only">Username</label>
                                                <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_password" class="sr-only">Password</label>
                                                <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Login" class="btn btn-primary btn-block" />
                                                <input type="hidden" name="next" value="{{ request.path }}" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <p class="navbar-text">You are logged in as <u>{{ user.username }}</u></p>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next=/jobs"><b>Logout</b></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
            {# user defined content... #}
        {% endblock content %}
    </div>

    <footer class="footer navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <p class="navbar-text pull-right text-muted">
                {% now "Y" %} &copy; <a href="https://www.fmi.ch/liberali.p">Group P. Liberali</a>, <a href="https://www.fmi.ch">Friedrich Miescher Institute</a>, Basel
            </p>
        </div>
    </footer>

</body>
