{% extends 'webapp/base.html' %}

{% block title %}
    Register Job
{% endblock title %}

{% load static %}
{% load datatype_extras %}
{% load list_extras %}
{% load dict_extras %}

{% block head_css_section %}
    <link rel="stylesheet" href="{% static 'webapp/css/formbuilder.css' %}">
{% endblock head_css_section %}

{% block head_js_section %}
    <script src="{% static 'webapp/js/globaleventmanager.js' %}"></script>
    <!--
    <script src="{% static 'webapp/js/acorn_interpreter.js' %}">
        // allows a secure, sandboxed way of evaluating boolean expressions
        // drawback: 200x slower than native JS
        // source: https://github.com/NeilFraser/JS-Interpreter
        // TODO: check license
    </script>
    <script>
        function save_eval(code) {
            var interpreter = null;
            try {
                interpreter = new Interpreter(code);
                interpreter.run();
                return interpreter.value;
            } catch(err) {
            }
            return null;
        }
    </script>
    -->
    <script>
        // TODO: replace, e.g. with JS-Interpreter
        function unsave_eval(code) {
            try {
                return eval(code);
            } catch(err) {
            }
            return null;
        }
    </script>
    <script>
        $(document).ready(function() {
            // activate event manager
            GlobalEventManager.isActive = true;
        });
    </script>
    <script src="{% static 'webapp/js/formbuilder.js' %}"></script>
    <script>
        $(document).ready(function() {
            jobTemplates = [];
            {% for job_template in job_templates %}
                jobTemplates.push({
                    'id': '{{ job_template.id }}',
                    'name': '{{ job_template.name }}',
                    'description': '{{ job_template.description }}',
                    'isSelected': {% if job_template.id|stringformat:"i" == selected_job_template %} true {% else %} false {% endif %}
                });
            {% endfor %}
            
            var jobTemplateFieldSet = buildJobTemplateFieldSet(jobTemplates);

            $('#id_job_template_div').html(jobTemplateFieldSet.getJQueryElement());

            {% if job_form.name.value != None %}
                // load job template
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/api/jobtemplates/{{ selected_job_template }}",
                    contentType: "application/json"
                }).done(function( job_template ) {
                    var jobFieldSet = buildJobFieldSet({
                        'type': '{{ job_form.type.value }}',
                        'status': '{{ job_form.status.value }}',
                        'progress': '{{ job_form.progress.value }}',
                        'owner': '{{ job_form.owner.value }}',
                        'namespace': '{{ job_form.namespace.value }}',
                        'name': '{{ job_form.name.value }}',
                        'description': job_template.description
                    });

                    $('#id_job_div').html(jobFieldSet.getJQueryElement());

                    {% if job_parameter_form_set.forms|length > 0 %}
                        var paramTypes = new Map();
                        {% for id, name in parameter_types %}
                            paramTypes.set({{ id }}, "{{ name }}");
                        {% endfor %}

                        var paramMetadata = new Map();
                        for (idx = 0; idx < job_template.parameter_declarations.length; ++idx) {
                            paramDecl = job_template.parameter_declarations[idx];
                            var metadata = new Map();
                            metadata.set("description", paramDecl.description);
                            metadata.set("is_hidden", unsave_eval(paramDecl.is_hidden.toLowerCase()) || false);
                            metadata.set("is_hidden_expr", paramDecl.is_hidden.toLowerCase());
                            metadata.set("is_dangerous", unsave_eval(paramDecl.is_dangerous.toLowerCase()) || false);
                            metadata.set("is_dangerous_expr", paramDecl.is_dangerous.toLowerCase());
                            metadata.set("choices", paramDecl.choices);
                            paramMetadata.set(paramDecl.name, metadata);
                        }

                        jobParams = [];
                        {% for job_param_form in job_parameter_form_set.forms %}
                            jobParams.push({
                                'id': '{{ job_param_form.id.value }}',
                                'type-str': paramTypes.get({{ job_param_form.type.value }}),
                                'value-str': '{{ job_param_form.value.value }}',
                                'name': '{{ job_param_form.name.value }}',
                                'type': '{{ job_param_form.type.value }}',
                                'value': '{{ job_param_form.value.value }}',
                                'choices': paramMetadata.get('{{ job_param_form.name.value }}').get('choices'),
                                'description': paramMetadata.get('{{ job_param_form.name.value }}').get('description'),
                                'is_hidden': paramMetadata.get('{{ job_param_form.name.value }}').get('is_hidden'),
                                'is_hidden_expr': paramMetadata.get('{{ job_param_form.name.value }}').get('is_hidden_expr'),
                                'is_dangerous': paramMetadata.get('{{ job_param_form.name.value }}').get('is_dangerous'),
                                'is_dangerous_expr': paramMetadata.get('{{ job_param_form.name.value }}').get('is_dangerous_expr'),
                                'errors': [{% for error in job_param_form.value.errors %}'{{ error }}',{% endfor %}]
                            });
                        {% endfor %}

                        update_job_parameters_field_set(jobParams);
                    {% endif %}
                });

            {% endif %}
        });

        function reload_job(template_id) {
            if (template_id === "") {
                return;
            }

            // load job template
            $.ajax({
                async: true,
                type: "GET",
                url: "/api/jobtemplates/" + template_id,
                contentType: "application/json"
            }).done(function( job_template ) {
                /*alert(JSON.stringify(job_template, null, 4))*/

                param_types = new Map();
                {% for id, name in parameter_types %}
                    param_types.set({{ id }}, "{{ name }}");
                {% endfor %}

                var jobFieldSet = buildJobFieldSet({
                        'type': job_template.type,
                        'status': 'initialized',
                        'progress': 0,
                        'owner': '{{ user.username }}',
                        'namespace': job_template.namespace,
                        'name': job_template.name,
                        'description': job_template.description
                });

                $('#id_job_div').html(jobFieldSet.getJQueryElement());
                
                jobParams = [];
                for (idx = 0; idx < job_template.parameter_declarations.length; ++idx) {
                    param_decl = job_template.parameter_declarations[idx];
                    var is_hidden_expr = param_decl.is_hidden.toLowerCase();
                    var is_dangerous_expr = param_decl.is_dangerous.toLowerCase();
                    jobParams.push({
                        'id': '',
                        'type-str': param_types.get(param_decl.type),
                        'value-str': param_decl.default,
                        'name': param_decl.name,
                        'type': param_decl.type,
                        'value': param_decl.default,
                        'choices': param_decl.choices,
                        'description': param_decl.description,
                        'is_hidden': unsave_eval(is_hidden_expr) || false,  // set to 'false' if expression contains '{}' variables
                        'is_hidden_expr': is_hidden_expr,
                        'is_dangerous': unsave_eval(is_dangerous_expr) || false,  // set to 'false' if expression contains '{}' variables
                        'is_dangerous_expr': is_dangerous_expr,
                        'errors': [{% for error in field.errors %}'{{ error }},'{% endfor %}]
                    });
                }

                update_job_parameters_field_set(jobParams);
            });
        }
        
        function update_job_parameters_field_set(jobParams) {
            var jobParamsFieldSet = buildJobParamsFieldSet(jobParams);
            $('#id_job_parameters_div').html(jobParamsFieldSet.getJQueryElement());
            
            // create/update event handlers
            GlobalEventManager.clearEventHandlers();
            
            for (idx = 0; idx < jobParams.length; ++idx) {
                var jobParam = jobParams[idx];
                
                var regExp = /\{(.+?)\}/g, match;
                while (expr_var = regExp.exec(jobParam.is_hidden_expr)) {
                    // note: there is no block scope in JavaScript - only function scope.
                    // hence, we have to wrap the get_element_id & action function not to always bind 'is_hidden_expr' to the same outer variable
                    function create_get_element_id_function(observable) {
                        return function() {
                            return $('#id_' + observable + '_row').find('[id$="value-str"]').attr('id');
                        };
                    }
                    
                    function create_action_function(parameter_name, is_hidden_expr) {
                        return function(control_element) {
                            // we only support string expressions by now. (booleans and numbers are interpreted as string)
                            // TODO: interpret value based on parameter type
                            is_hidden = unsave_eval(
                                is_hidden_expr.replace(/\{(.+?)\}/g, function(match, p1, offset, str) {
                                    return '"' + $('#id_' + p1 + '_row').find('[id$="value-str"]').val() + '"';
                                })
                            );
                            $('#id_' + parameter_name + '_row').attr('hidden', is_hidden);
                        };
                    }
                    
                    GlobalEventManager.addEventHandler(
                        create_get_element_id_function(expr_var[1]),
                        function(control_element) { return true; },
                        create_action_function(jobParam.name, jobParam.is_hidden_expr)
                    );
                }
            }
            
            // update form actions
            $('.form-actions button').attr('disabled', false);
            
            // subscribe change events to the event manager
            $( ".form-control" ).change(function() {
                GlobalEventManager.notify($(this));
            });
            
            // no 'change' event is send during the subscription.
            // hence, we send the events here 'manually'
            $('.form-control').each(function() {
                GlobalEventManager.notify($(this));
            });

            // activate tooltips
            $('[data-toggle="tooltip"]').tooltip();
        }

    </script>
{% endblock head_js_section %}

{% block content %}
    <h1>Register Job</h1>
    <form class="form" action="" method="post">
        {% csrf_token %}
        
        <div id="id_job_template_div"></div>
        <div id="id_job_div">
            <legend>Job Details:</legend>
            No job found for the given template.
        </div>
        <div style="height: 34px;">&nbsp;</div>
        <div id="id_job_parameters_div">
            <legend>Job Parameters:</legend>
            No parameters found for the given template.
        </div>
        <div style="height: 34px;">&nbsp;</div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" {% if job_form.name.value == None %}disabled="true"{% endif %}>Submit</button>
            <div style="display:inline-block; margin-left: 30px;">&nbsp;</div>
            <a href="{% url 'jobs_list' %}">back to the list</a>
        </div>
    </form>
{% endblock content %}
