<h1>Job List</h1>

<table border=1>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Type</td>
        <td>Status</td>
        <td>[Edit-Icon]</td>
    </tr>
{% for job in object_list %}
    <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.name }}</td>
        <td>{{ job.type }}</td>
    {% if job.status == "unknown" %}
        <td style="color: red">{{ job.status }}</td>
    {% else %}
        <td>{{ job.status }}</td>
    {% endif %}
        <!--<td><button>Edit</button></td>-->
        <td><a href="./jobs/{{ job.id }}">Edit</a></td>
    </tr>
{% empty %}
    <tr>
        <td colspan=5>No jobs found.</td>
    </tr>
{% endfor %}
    <tr>
        <td width="100%" colspan=5 style="text-align: right"><a href="">Add New Job</a></td>
    </tr>
<table>

<!--
<ul>
{% for job in object_list %}
    <li>{{ job.name }}</li>
{% empty %}
    <li>No jobs yet.</li>
{% endfor %}
</ul>
-->

Date: {{ now|date }}
