{% extends 'webapp/base.html' %}

{% block title %}Job List{% endblock title %}

{% block head_js_section %}
    <script>
        var refresh_interval_id = setInterval(function() {
            $.ajax({
                async: true,
                type: "GET",
                url: "/api/jobs",
                contentType: "application/json"
            }).done(function( jobs ) {
                for (idx = 0; idx < jobs.length; ++idx) {
                    job = jobs[idx];
                    var job_status_row = $("tr#job_" + job['id'] + "_row td:nth-child(5)");
                    if (job['status'] == 'in progress') {
                        var progress = $('<div>', {'class': 'progress'});
                        var progress_bar = $('<div>', {'class':'progress-bar', 'role':'progressbar', 'aria-valuemin':'0', 'aria-valuemax':'100', 'style':'width: '+job['progress']+'%'});
                        progress_bar.text(job['progress'] + '%');
                        progress.html(progress_bar.get(0).outerHTML);
                        //alert(JSON.stringify(progress, null, 4));
                        job_status_row.html(progress.get(0).outerHTML);
                    }
                    else {
                        job_status_row.html(job["status"]);
                    }
                }
            });
        }, 2000);
    </script>
{% endblock head_js_section %}

{% block content %}
    <h1>Job List</h1>
    {% if is_system_user %}
    <form class="text-right" action="" method="get">
        {% for field in filter.form %}
            {{ field.name|title }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Apply Filter">
    </form>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr style="background-color: black; color: white;">
                <th>Creation Date</th>
                <th>ID</th>
                <th>Owner</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if is_system_user %}
            <tr>
                <td width="80%" colspan=5>&nbsp;</td>
                <td width="20%">
                    <a href="register" class="btn btn-success btn-sm" role="button">
                        <span class="glyphicon glyphicon-plus"></span> Register New Job
                    </a>
                </td>
            </tr>
            {% endif %}
        {% for job in filter.qs %}
            <tr id="job_{{ job.id }}_row">
                <td>{{ job.date_created|date:'Y-m-d' }}</td>
                <td>{{ job.id }}</td>
                <td>{{ job.owner }}</td>
                <td>{{ job.name }}</td>
            {% if job.status == "unknown" %}
                <td style="color: red">{{ job.status }}</td>
            {% else %}
                <td>
                {% if job.status != "in progress" %}
                    {{ job.status }}
                {% else %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.progress }}%">
                            {{ job.progress }}%
                        </div>
                    </div>
                {% endif %}
                </td>
            {% endif %}
                <!--<td><button>Edit</button></td>-->
                <td>
                    <a href="#details_{{ job.id }}" data-toggle="collapse" class="btn btn-primary btn-sm" role="button">
                        <span class="glyphicon glyphicon-info-sign"></span> Details
                    </a>
                </td>
                <!--
                <td>
                    <a href="./jobs/{{ job.id }}/update" class="btn btn-primary btn-sm" role="button">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    <a href="./jobs/{{ job.id }}/delete" class="btn btn-danger btn-sm" role="button">
                        <span class="glyphicon glyphicon-minus"></span> Delete
                    </a>
                </td>
                -->
            </tr>
            <tr><td colspan="6" style="padding: 0px;"/></tr>
            <tr id="job_{{ job.id }}_details_row">
                <td style="padding: 0px;" />
                <td colspan="5" style="padding: 0px;">
                    <div id="details_{{ job.id }}" class="collapse">
                        <fieldset>
                        <legend style="font-size: 14px; margin: 0px;">Parameters:</legend>
                            {% for parameter in job.parameters.all %}
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 200px;">{{ parameter.name }}</td>
                                        <td>{{ parameter.value }}</td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </fieldset>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=6>No jobs found.</td>
            </tr>
        {% endfor %}
        </tbody>
    <table>
{% endblock content %}
